/Main.class
/exeBhaskara.class
/exeMenorNumero.class
/exeMenu.class
/exeQuadrante.class
/exeTextSelecao.class
/exeValorDaConta.class
/mutiplicacao.class
/NumImpar.class
/NumImpar2.class
/repeticaoAcesso.class
/validacaoNotaMedia.class
/texte.class
/Atexte1.class
